In [97]:
import pandas as pd
import numpy as np

In [ ]:
#pcell_idx_ma=pd.read_csv('데이터/pcell_idx_ma_202111221310.csv',sep='|' )

In [ ]:
#pcell_idx_ma.to_csv('데이터/pcell_idx_ma.csv')

In [ ]:
#pcell_idx_ma = pd.read_csv('데이터/pcell_idx_ma.csv')

In [ ]:
#pcell_idx_ma[['x좌표','y좌표']]=
temp_list=pcell_idx_ma['geom'].str.findall(pat='[0-9]+[.][0-9]+').to_list()
x_list=[]
y_list=[]
for i in range(len(temp_list)):
    x_list.append(temp_list[i][0])
    y_list.append(temp_list[i][1])

In [ ]:
pcell_idx_ma['x좌표']=x_list
pcell_idx_ma['y좌표']=y_list

In [ ]:
pcell_idx_ma=pcell_idx_ma.astype({'x좌표':'float','y좌표':'float'})

In [ ]:
#pcell_idx_ma.to_csv('데이터/pcell_idx_ma.csv')

In [ ]:
pcel_idx_ma=pcell_idx_ma[(pcell_idx_ma['x좌표']<=943789.0) &(pcell_idx_ma['x좌표']>=932433.0)&(pcell_idx_ma['y좌표']<=1951126.0)&(pcell_idx_ma['y좌표']>=1939339.0)]

In [ ]:
pcel_idx_ma.to_csv('데이터/pcell_idx_ma.csv')

In [119]:
pcell_buchen=pd.read_csv('데이터/pcell_buchen.csv')

In [120]:
print(len(pcell_buchen['recordid']),len(pcell_buchen['recordid'].unique())) # 같은 길이

21432 21432

In [121]:
pcell_buchen

,gid,recordid,geom,x좌표,y좌표
0,53361398,8493963,POINT (936683.9917869985 1944679.1473889991),936683.9918,1944679.147
1,53367257,8499236,POINT (936683.9917869965 1944629.1473889994),936683.9918,1944629.147
2,53373114,8504506,POINT (936683.9917869985 1944579.1473889991),936683.9918,1944579.147
3,53378964,8509772,POINT (936683.9917869973 1944529.1473889982),936683.9918,1944529.147
4,53378965,8509773,POINT (936733.9917869973 1944529.147388999),936733.9918,1944529.147
...,...,...,...,...,...
21427,53160143,8312832,POINT (935683.9917869975 1946379.1473889998),935683.9918,1946379.147
21428,53160144,8312833,POINT (935733.9917869966 1946379.147388999),935733.9918,1946379.147
21429,53160145,8312834,POINT (935783.9917869971 1946379.147388999),935783.9918,1946379.147
21430,53166116,8318208,POINT (935633.9917869973 1946329.1473889991),935633.9918,1946329.147
21431,53166117,8318209,POINT (935683.9917869966 1946329.147388999),935683.9918,1946329.147

In [122]:
agg_hdong_month_pop_202111221301=pd.read_csv('데이터/agg_hdong_month_pop_202111221301.csv', encoding='ANSI')

In [123]:
agg_hdong_month_pop_202111221301

     year  month       hcode hname     pop
0    2017      1  4119060300   심곡동   69694
1    2017      1  4119060600   부천동   97754
2    2017      1  4119061000    중동   45543
3    2017      1  4119074200   신중동  134052
4    2017      1  4119074400    상동   91529
..    ...    ...         ...   ...     ...
565  2021      9  4119074600   대산동   81542
566  2021      9  4119075000  소사본동   56325
567  2021      9  4119079500   범안동   95318
568  2021      9  4119080000   성곡동   82899
569  2021      9  4119083000   오정동   83736

[570 rows x 5 columns]

In [124]:
agg_pcell_month_service_pop_202111221301=pd.read_csv('데이터/agg_pcell_month_service_pop_202111221301.csv', encoding='ANSI')

In [125]:
print(len(agg_pcell_month_service_pop_202111221301['recordid']),len(agg_pcell_month_service_pop_202111221301['recordid'].unique())) # 같은 길이

973070 19518

In [126]:
agg_pcell_month_service_pop_202111221301=agg_pcell_month_service_pop_202111221301.sort_values(['recordid','year','month'])

In [127]:
agg_pcell_month_service_pop_202111221301.reset_index(inplace=True)

In [128]:
agg_pcell_month_service_pop_202111221301.head(40)

     index  recordid  year  month       hcode  s_pop  h_pop  w_pop  v_pop
0   643351   7835666  2017      1  4119083000  12.01   8.84   4.87   4.26
1   658985   7835666  2017      2  4119083000   6.26   4.70   2.41   1.56
2   674676   7835666  2017      3  4119083000   5.99   4.63   2.59   1.45
3   690580   7835666  2017      4  4119083000   7.15   5.43   3.10   2.95
4   706750   7835666  2017      5  4119083000   7.35   6.63   3.01   1.60
5   722543   7835666  2017      6  4119083000   6.31   4.63   2.41   1.79
6   738491   7835666  2017      7  4119083000   5.54   4.34   2.32   1.29
7   882254   7835666  2018      4  4119083000   3.12   2.87   0.85   0.59
8   898921   7835666  2018      5  4119083000  19.39  17.76   5.04   3.58
9   915956   7835666  2018      6  4119083000  10.19   8.31   4.23   2.34
10  933169   7835666  2018      7  4119083000  10.84   9.98   2.83   2.05
11  950710   7835666  2018      8  4119083000   9.28   7.41   3.85   2.11
12  968380   7835666  2018      9  4119083000   9.70   7.76   4.43   2.74
13   13177   7835666  2018     10  4119083000   8.95   6.68   4.09   1.88
14   31294   7835666  2018     11  4119083000   8.60   6.73   3.81   1.95
15   49519   7835666  2018     12  4119083000   2.33   1.82   1.01   0.49
16   66236   7835666  2019      1  4119083000   1.72   1.36   0.69   0.37
17   83172   7835666  2019      2  4119083000   6.40   5.06   2.56   1.91
18  100152   7835666  2019      3  4119083000   5.76   4.84   2.50   1.40
19  117449   7835666  2019      4  4119083000   6.02   4.89   2.71   1.42
20  134895   7835666  2019      5  4119083000   6.14   4.94   2.73   1.36
21  152351   7835666  2019      6  4119083000   6.28   5.06   2.80   1.42
22  169827   7835666  2019      7  4119083000   5.41   4.33   2.30   1.24
23  187299   7835666  2019      8  4119083000   6.22   4.96   2.56   1.37
24  404330   7835666  2020      9  4119083000  12.97   9.79   4.86   3.37
25  422162   7835666  2020     10  4119083000  10.48   8.16   4.13   3.06
26  440169   7835666  2020     11  4119083000   9.06   7.00   3.54   2.12
27  458314   7835666  2020     12  4119083000   6.11   4.75   2.24   1.46
28  476554   7835666  2021      1  4119083000   4.57   3.49   1.66   1.01
29  494851   7835666  2021      2  4119083000   5.23   4.14   1.91   1.24
30  513190   7835666  2021      3  4119083000   5.07   4.04   1.86   1.21
31  531581   7835666  2021      4  4119083000   4.73   3.86   1.80   1.06
32  550093   7835666  2021      5  4119083000  10.45   8.59   3.97   2.77
33  568676   7835666  2021      6  4119083000   8.23   6.58   3.11   2.22
34  587331   7835666  2021      7  4119083000   7.47   5.95   2.78   1.77
35  605928   7835666  2021      8  4119083000   7.77   6.15   2.76   1.73
36  624637   7835666  2021      9  4119083000   7.68   6.20   2.90   2.10
37  643352   7835668  2017      1  4119083000   0.06   0.05   0.03   0.02
38  100153   7835668  2019      3  4119083000   6.07   5.10   2.63   1.47
39  117450   7835668  2019      4  4119083000   6.30   5.11   2.83   1.49

In [129]:
agg_pcell_month_service_pop_202111221301=agg_pcell_month_service_pop_202111221301.groupby('recordid').mean()

In [130]:
agg_pcell_month_sex_age_pop_202111221302=pd.read_csv('데이터/agg_pcell_month_sex_age_pop_202111221302.csv', encoding='ANSI')

In [131]:
agg_pcell_month_sex_age_pop_202111221302

,recordid,year,month,hcode,m_0009,m_1019,m_2029,m_3039,m_4049,m_5059,...,w_0009,w_1019,w_2029,w_3039,w_4049,w_5059,w_6069,w_7000,w_sum,t_sum
0,8156248,2017,3,4119083000,1.23,1.57,2.44,3.14,3.77,3.86,...,1.10,1.43,1.81,2.00,3.02,3.07,1.24,1.13,13.99,31.31
1,8156249,2017,3,4119083000,0.59,0.76,1.17,1.51,1.81,1.85,...,0.53,0.69,0.87,0.96,1.45,1.48,0.60,0.54,6.72,15.05
2,8156250,2017,3,4119083000,0.36,0.46,0.71,0.92,1.10,1.13,...,0.32,0.42,0.53,0.58,0.88,0.90,0.36,0.33,4.09,9.16
3,8156251,2017,3,4119083000,0.52,0.66,1.03,1.32,1.58,1.62,...,0.46,0.60,0.76,0.84,1.27,1.29,0.52,0.47,5.88,13.16
4,8156252,2017,3,4119083000,1.40,1.78,2.76,3.56,4.26,4.36,...,1.24,1.61,2.05,2.26,3.41,3.47,1.41,1.28,15.82,35.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973065,8156242,2017,3,4119083000,0.06,0.08,0.12,0.16,0.19,0.20,...,0.06,0.07,0.09,0.10,0.15,0.16,0.06,0.06,0.71,1.59
973066,8156245,2017,3,4119083000,0.09,0.11,0.17,0.22,0.27,0.27,...,0.08,0.10,0.13,0.14,0.21,0.22,0.09,0.08,0.99,2.21
973067,8156246,2017,3,4119083000,1.05,1.33,2.07,2.67,3.20,3.28,...,0.93,1.21,1.54,1.69,2.56,2.61,1.06,0.96,11.88,26.58
973068,8156247,2017,3,4119083000,0.17,0.21,0.33,0.43,0.51,0.53,...,0.15,0.19,0.25,0.27,0.41,0.42,0.17,0.15,1.91,4.28
973069,8161652,2017,3,4119083000,0.65,0.83,1.29,1.66,1.99,2.04,...,0.58,0.75,0.96,1.05,1.59,1.62,0.66,0.60,7.39,16.54

In [132]:
agg_pcell_month_sex_age_pop_202111221302

,recordid,year,month,hcode,m_0009,m_1019,m_2029,m_3039,m_4049,m_5059,...,w_0009,w_1019,w_2029,w_3039,w_4049,w_5059,w_6069,w_7000,w_sum,t_sum
0,8156248,2017,3,4119083000,1.23,1.57,2.44,3.14,3.77,3.86,...,1.10,1.43,1.81,2.00,3.02,3.07,1.24,1.13,13.99,31.31
1,8156249,2017,3,4119083000,0.59,0.76,1.17,1.51,1.81,1.85,...,0.53,0.69,0.87,0.96,1.45,1.48,0.60,0.54,6.72,15.05
2,8156250,2017,3,4119083000,0.36,0.46,0.71,0.92,1.10,1.13,...,0.32,0.42,0.53,0.58,0.88,0.90,0.36,0.33,4.09,9.16
3,8156251,2017,3,4119083000,0.52,0.66,1.03,1.32,1.58,1.62,...,0.46,0.60,0.76,0.84,1.27,1.29,0.52,0.47,5.88,13.16
4,8156252,2017,3,4119083000,1.40,1.78,2.76,3.56,4.26,4.36,...,1.24,1.61,2.05,2.26,3.41,3.47,1.41,1.28,15.82,35.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973065,8156242,2017,3,4119083000,0.06,0.08,0.12,0.16,0.19,0.20,...,0.06,0.07,0.09,0.10,0.15,0.16,0.06,0.06,0.71,1.59
973066,8156245,2017,3,4119083000,0.09,0.11,0.17,0.22,0.27,0.27,...,0.08,0.10,0.13,0.14,0.21,0.22,0.09,0.08,0.99,2.21
973067,8156246,2017,3,4119083000,1.05,1.33,2.07,2.67,3.20,3.28,...,0.93,1.21,1.54,1.69,2.56,2.61,1.06,0.96,11.88,26.58
973068,8156247,2017,3,4119083000,0.17,0.21,0.33,0.43,0.51,0.53,...,0.15,0.19,0.25,0.27,0.41,0.42,0.17,0.15,1.91,4.28
973069,8161652,2017,3,4119083000,0.65,0.83,1.29,1.66,1.99,2.04,...,0.58,0.75,0.96,1.05,1.59,1.62,0.66,0.60,7.39,16.54

In [133]:
agg_pcell_month_sex_age_pop_202111221302=agg_pcell_month_sex_age_pop_202111221302.groupby('recordid').mean()

In [134]:
temp1=pd.merge(pcell_buchen,agg_pcell_month_service_pop_202111221301, on='recordid', how='left')

In [135]:
temp1

,gid,recordid,geom,x좌표,y좌표,index,year,month,hcode,s_pop,h_pop,w_pop,v_pop
0,53361398,8493963,POINT (936683.9917869985 1944679.1473889991),936683.9918,1944679.147,486523.929825,2018.894737,6.263158,4.119074e+09,14.464737,12.465263,3.900877,5.347018
1,53367257,8499236,POINT (936683.9917869965 1944629.1473889994),936683.9918,1944629.147,486630.298246,2018.894737,6.263158,4.119060e+09,20.169825,16.947544,4.071930,7.688421
2,53373114,8504506,POINT (936683.9917869985 1944579.1473889991),936683.9918,1944579.147,486739.631579,2018.894737,6.263158,4.119060e+09,30.103158,25.246140,6.112456,11.534561
3,53378964,8509772,POINT (936683.9917869973 1944529.1473889982),936683.9918,1944529.147,486851.842105,2018.894737,6.263158,4.119060e+09,18.234912,15.422456,3.637193,6.844561
4,53378965,8509773,POINT (936733.9917869973 1944529.147388999),936733.9918,1944529.147,486852.842105,2018.894737,6.263158,4.119060e+09,35.352281,29.675088,7.090702,13.461579
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21427,53160143,8312832,POINT (935683.9917869975 1946379.1473889998),935683.9918,1946379.147,482553.771930,2018.894737,6.263158,4.119083e+09,13.163860,10.447018,5.130702,3.208947
21428,53160144,8312833,POINT (935733.9917869966 1946379.147388999),935733.9918,1946379.147,482554.771930,2018.894737,6.263158,4.119083e+09,19.265439,15.373509,7.562281,4.638421
21429,53160145,8312834,POINT (935783.9917869971 1946379.147388999),935783.9918,1946379.147,482555.771930,2018.894737,6.263158,4.119083e+09,48.845789,38.949474,19.224211,11.799298
21430,53166116,8318208,POINT (935633.9917869973 1946329.1473889991),935633.9918,1946329.147,482657.719298,2018.894737,6.263158,4.119083e+09,39.746842,31.554035,15.610877,9.712982
21431,53166117,8318209,POINT (935683.9917869966 1946329.147388999),935683.9918,1946329.147,482658.719298,2018.894737,6.263158,4.119074e+09,31.231404,27.030702,8.307544,11.315965

In [136]:
temp2=pd.merge(pcell_buchen,agg_pcell_month_sex_age_pop_202111221302, on='recordid', how='left')

In [137]:
temp2.to_csv('temp2.csv')

In [138]:
temp2

,gid,recordid,geom,x좌표,y좌표,year,month,hcode,m_0009,m_1019,...,w_0009,w_1019,w_2029,w_3039,w_4049,w_5059,w_6069,w_7000,w_sum,t_sum
0,53361398,8493963,POINT (936683.9917869985 1944679.1473889991),936683.9918,1944679.147,2018.894737,6.263158,4.119074e+09,0.683509,0.889825,...,0.662982,0.901053,1.178246,1.312105,1.397193,1.370877,0.609474,0.474912,7.603684,14.464737
1,53367257,8499236,POINT (936683.9917869965 1944629.1473889994),936683.9918,1944629.147,2018.894737,6.263158,4.119060e+09,0.651053,0.925088,...,0.608596,1.014737,2.000000,1.505088,1.502105,1.826842,1.096316,0.841930,9.822982,20.169825
2,53373114,8504506,POINT (936683.9917869985 1944579.1473889991),936683.9918,1944579.147,2018.894737,6.263158,4.119060e+09,0.980702,1.389649,...,0.921754,1.533333,2.983333,2.238070,2.244386,2.728947,1.634561,1.260877,14.701228,30.103158
3,53378964,8509772,POINT (936683.9917869973 1944529.1473889982),936683.9918,1944529.147,2018.894737,6.263158,4.119060e+09,0.597544,0.828772,...,0.564737,0.907193,1.783684,1.363333,1.367193,1.662807,0.999474,0.769123,8.901754,18.234912
4,53378965,8509773,POINT (936733.9917869973 1944529.147388999),936733.9918,1944529.147,2018.894737,6.263158,4.119060e+09,1.153158,1.615614,...,1.081579,1.778070,3.489649,2.633333,2.639825,3.214561,1.921404,1.486491,17.258246,35.352281
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21427,53160143,8312832,POINT (935683.9917869975 1946379.1473889998),935683.9918,1946379.147,2018.894737,6.263158,4.119083e+09,0.535789,0.658246,...,0.479123,0.593158,0.775789,0.821053,1.181404,1.255088,0.574386,0.474737,5.874386,13.163860
21428,53160144,8312833,POINT (935733.9917869966 1946379.147388999),935733.9918,1946379.147,2018.894737,6.263158,4.119083e+09,0.770702,0.969123,...,0.690877,0.872807,1.142105,1.205965,1.729123,1.837368,0.836667,0.693860,8.610877,19.265439
21429,53160145,8312834,POINT (935783.9917869971 1946379.147388999),935783.9918,1946379.147,2018.894737,6.263158,4.119083e+09,1.960526,2.461228,...,1.757719,2.215965,2.899649,3.064035,4.392456,4.663684,2.099474,1.766316,21.841053,48.845789
21430,53166116,8318208,POINT (935633.9917869973 1946329.1473889991),935633.9918,1946329.147,2018.894737,6.263158,4.119083e+09,1.603860,2.002456,...,1.436140,1.803333,2.356667,2.494561,3.578596,3.797018,1.720351,1.442982,17.787544,39.746842
21431,53166117,8318209,POINT (935683.9917869966 1946329.147388999),935683.9918,1946329.147,2018.894737,6.263158,4.119074e+09,1.471053,1.912632,...,1.428596,1.933509,2.527368,2.816140,2.999825,2.939123,1.385614,1.020702,16.430877,31.231404

In [139]:
temp2.columns

Index(['gid', 'recordid', 'geom', 'x좌표', 'y좌표', 'year', 'month', 'hcode',
       'm_0009', 'm_1019', 'm_2029', 'm_3039', 'm_4049', 'm_5059', 'm_6069',
       'm_7000', 'm_sum', 'w_0009', 'w_1019', 'w_2029', 'w_3039', 'w_4049',
       'w_5059', 'w_6069', 'w_7000', 'w_sum', 't_sum'],
      dtype='object')

In [140]:
temp3=pd.melt(temp2, col_level=0, id_vars=['recordid'], value_vars=['m_0009', 'm_1019', 'm_2029', 'm_3039', 'm_4049', 'm_5059', 'm_6069',
       'm_7000', 'w_0009', 'w_1019', 'w_2029', 'w_3039', 'w_4049',
       'w_5059', 'w_6069', 'w_7000'])

In [141]:
temp3

        recordid variable     value
0        8493963   m_0009  0.683509
1        8499236   m_0009  0.651053
2        8504506   m_0009  0.980702
3        8509772   m_0009  0.597544
4        8509773   m_0009  1.153158
...          ...      ...       ...
342907   8312832   w_7000  0.474737
342908   8312833   w_7000  0.693860
342909   8312834   w_7000  1.766316
342910   8318208   w_7000  1.442982
342911   8318209   w_7000  1.020702

[342912 rows x 3 columns]

In [142]:
temp3['성별']=['남성' if i else '여성' for i in temp3['variable'].str.startswith('m') ]

In [143]:
temp3

        recordid variable     value  성별
0        8493963   m_0009  0.683509  남성
1        8499236   m_0009  0.651053  남성
2        8504506   m_0009  0.980702  남성
3        8509772   m_0009  0.597544  남성
4        8509773   m_0009  1.153158  남성
...          ...      ...       ...  ..
342907   8312832   w_7000  0.474737  여성
342908   8312833   w_7000  0.693860  여성
342909   8312834   w_7000  1.766316  여성
342910   8318208   w_7000  1.442982  여성
342911   8318209   w_7000  1.020702  여성

[342912 rows x 4 columns]

In [153]:
conditionlist=[(temp3['variable'].str.endswith('0009')),(temp3['variable'].str.endswith('1019'))
              ,(temp3['variable'].str.endswith('2029')),(temp3['variable'].str.endswith('3039'))
              ,(temp3['variable'].str.endswith('4049')),(temp3['variable'].str.endswith('5059'))
              ,(temp3['variable'].str.endswith('6069')),(temp3['variable'].str.endswith('7000'))]

In [162]:
choiceList=['9세이하','10대','20대','30대','40대','50대','60대','70대이상']

In [163]:
temp3['나이']=np.select(conditionlist, choiceList, default='Not Specified')

In [164]:
temp4=temp3[['recordid','성별','나이','value']]

In [165]:
temp4.to_csv('temp4.csv', encoding='ANSI')

In [166]:
temp5=temp2[['recordid','x좌표','y좌표']]

In [167]:
temp6=pd.merge(temp4,temp5, on='recordid')

In [168]:
temp6.to_csv('temp6.csv',encoding='ANSI')

In [169]:
temp6

        recordid  성별     나이     value          x좌표          y좌표
0        8493963  남성   9세이하  0.683509  936683.9918  1944679.147
1        8493963  남성    10대  0.889825  936683.9918  1944679.147
2        8493963  남성    20대  1.199123  936683.9918  1944679.147
3        8493963  남성    30대  1.301053  936683.9918  1944679.147
4        8493963  남성    40대  1.156667  936683.9918  1944679.147
...          ...  ..    ...       ...          ...          ...
342907   8318209  여성    30대  2.816140  935683.9918  1946329.147
342908   8318209  여성    40대  2.999825  935683.9918  1946329.147
342909   8318209  여성    50대  2.939123  935683.9918  1946329.147
342910   8318209  여성    60대  1.385614  935683.9918  1946329.147
342911   8318209  여성  70대이상  1.020702  935683.9918  1946329.147

[342912 rows x 6 columns]